@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #0d0908;
    --text-color: #efe8e8;
    --primary: #b9dbdb;
    --secondary: #a5ab98;
    --accent: #e1e4b0;
}

html {
    font-family: 'Fira Sans', system-ui, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    max-width: 800px;
    scroll-behavior: smooth;
    margin: auto;
}

nav {
    display: flex;
    padding-bottom: 0.5rem;
    width: 100%;
    justify-content: end;
    padding-top: 0.5rem;
    align-items: end;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a.nav-home {
    margin-right: auto;
}

a.nav-link {
    margin: 0 0 0.7rem 1rem;
    font-size: large;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

a.nav-icon {
    margin: 0 0 0.5rem 1rem;
    font-size: x-large;
    transition: transform 0.2s ease;
}

a.nav-icon:hover{
    transform: translateY(-5px);
}

a.nav-link:hover {
    border-color: var(--accent);
}

#logo {
    padding-top: 1rem;
    height: 4rem;
}

h1 {
    margin-bottom: 0.5rem;
    line-height: 1;
    font-size: xxx-large;
    color: var(--primary)
}

h2 {
    line-height: 1;
    margin-bottom: 0.5rem;
    font-size: xx-large;
    color: var(--secondary);
}

h3 {
    font-size: x-large;
    color: var(--secondary);
}

b {
    color: var(--accent);
}
