@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #0d0908;
    --text-color: #efe8e8;
    --primary: #b9dbdb;
    --secondary: #a5ab98;
    --tertiary: #a28c91;
    --accent: #e1e4b0;
}

html {
    font-family: 'Fira Sans', system-ui, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    max-width: 800px;
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
    margin: auto;
}

nav {
    display: flex;
    padding-bottom: 0.5rem;
    width: 100%;
    justify-content: end;
    padding-top: 0.5rem;
    align-items: end;
}

a {
    color: var(--accent);
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

a.nav-home {
    margin-right: auto;
}

a.nav-link {
    margin: 0 0 0.7rem 1rem;
    font-size: large;
    text-decoration: none;
    transition: border-color 0.3s ease;
}

a.nav-icon {
    margin: 0 0 0.5rem 1rem;
    font-size: x-large;
    transition: transform 0.2s ease;
}

a.nav-icon:hover{
    transform: translateY(-5px);
}

a:hover {
    border-color: var(--accent);
}

#logo {
    padding-top: 1rem;
    height: 4rem;
}

h1 {
    line-height: 1;
    margin-bottom: 0.5rem;
    font-size: xxx-large;
    color: var(--primary)
}

h2 {
    line-height: 1;
    margin-bottom: 0.5rem;
    font-size: xx-large;
    color: var(--secondary);
}

h3 {
    line-height: 1;
    margin-bottom: 0.5rem;
    font-size: x-large;
    color: var(--tertiary);
}

b {
    color: var(--accent);
}

p.subtitle {
    font-size: large;
}

.tech-grid {
    display: grid;
    padding: 0rem 2rem;
    grid-template-columns: auto auto auto;
}

.pl-grid {
    display: grid;
    padding: 0rem 2rem;
    grid-template-columns: auto auto auto auto;
}

.proj-grid {
    display: grid;
    padding: 0rem 2rem;
    grid-template-columns: auto auto;
}

.grid-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
    justify-content: center;
    text-align: center;
}

.proj-grid-item {
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
    margin: 0;
    justify-content: center;
    text-align: center;
    border: 0.3rem solid transparent;
    border-radius: 2rem;
    transition: border-color 0.2s ease;
}

.proj-grid-item img {
    height: 10rem;
    padding: 1rem 1rem 0 1rem;
}

.proj-grid-item:hover {
    border-color: var(--primary);
}

.grid-item i {
    font-size: xx-large;
}

.grid-item p {
    line-height: 1;
    margin: 1rem 0 0 0;
}

.godot-icon {
    width: 2rem;
    height: auto;
}

section {
    scroll-margin-top: 2rem;
}

footer {
    text-align: center;
}

.pdf-embed {
    display: block;
    border: none;
    aspect-ratio: 1/1.414;
    height: 800px;
    width: 100%;
}